<!-- Homepage -->
<!DOCTYPE html>
<html>
<head>
  <title>PyCopyCat</title>
  <meta name="author" content="Madhu Kumar">
	<meta name="description" content="PyCopyCat is a project built using Django to check plagiarism among Python files.">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/w3.css">
  <link rel="stylesheet" href="../static/css/w3-theme-black.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">

</head>

<body id="myPage">
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  

  
  <div class="w3-dropdown-hover w3-small">
    <button class="w3-button" title="Notifications">Plagiarism <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{%url 'upload1'%}" class="w3-bar-item w3-button">File to File</a>
      <a href="{%url 'upload2'%}" class="w3-bar-item w3-button">File to Files</a>
      <a href="{%url 'folder_files'%}" class="w3-bar-item w3-button">Folder Files</a>
    </div>
  </div>
   <a href="{%url 'instructions'%}" class="w3-bar-item w3-button w3-small w3-hover-white">Instructions</a>
 </div>
</div>


<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h3>PROJECT BY</h3>
  
  <h2>Madhu Kumar A N</h2>

</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-col.m6">
<h2 style="text-align: center;">My Work</h2>
<p>PyCopyCat is the name given to my work. Py means extension of Python code, and 'Copycat' refers to unoriginal or imitated. 
  Since our project is based on the detection of plagiarism for Python codes by generating AST for the files, it is named PyCopyCat.</p>
</div>



</div>

<!-- Container -->





<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
